# Dependencias
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next
/out
*.log

# Producción
/build
/dist

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.sublime-workspace
*.sublime-project

# Prisma
prisma/.env
prisma/migrations/

# OS
Thumbs.db
.AppleDouble
.LSOverride
